body
{
 background:url("b.jpg");
 background-image:cover;
 padding:0px;
}
 .one
{
    height:7vh;
width:100vw;
padding-top:2vh;
padding-bottom:2vh;
padding-left:2vw;
padding-right:2vw;
margin-top:2vh;
margin-bottom:2vh;


font-family:sans-serif;
display:flex;
justify-content:center;
align-items:center;
}
.two
{
position:absolute;
padding-top:2vh;
padding-bottom:2vh;
padding-left:2vw;
padding-right:2vw;
width:92vw;
margin-right:2vw;
margin-left:2vw;
height:66vh;
display:flex;
justify-content:center;
align-items:center;
}
.three
{
height:50vh;
width:30vw;
margin-left:2vw;
margin-right:2vw;

height:50vh;
width:30vw;
margin-left:2vw;
margin-right:2vw;

background:rgba(0,255,255,0.3);
transition: background-color 2s;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
border-radius:25%;
}
.three:hover{
    
background-color:rgba(255,99,71,0.5);
}
ul{
font-size:20px;
}
